# === React Frontend ===
TodoList-Reactjs/.env
node_modules/


# === FastAPI Backend ===
TodoList-FastApi/__pycache__/
.env
*.pyc
*.pyo
*.pyd


# === Common / OS / Editor ===
.vscode/

# Other files you may not want in version control
*.bak
*.swp